Repository tempestphp/tempest-framework, pull requests merged in 2024-02, with the labels that each got.

#40 Adds validator for email addresses.
  composer.json
  src/Validation/Rules/Email.php
  tests/Validation/Rules/EmailTest.php
Labels: Validation

#41 Adds phone number validator.
  composer.json
  src/Validation/Rules/PhoneNumber.php
  tests/Validation/Rules/PhoneNumberTest.php
Labels: Validation

#61 Update status enum
  src/Http/BaseResponse.php
  src/Http/Status.php
  src/functions.php
  tests/Http/StatusTest.php
  tests/Route/RequestTest.php
  tests/Route/RouterTest.php
Labels: Router

#67 Adds time rule
  src/Validation/Rules/Time.php
  tests/Validation/Rules/TimeTest.php
Labels: Validation

#70 Adds a contributing file
  .github/CONTRIBUTING.md
  README.md
Labels: Stewardship

#66 Adds coverage composer script
  .github/workflows/phpstan.yml
  .github/workflows/phpunit.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/quality-control.yml
  .gitignore
  composer.json
  src/Tempest.php
Labels: Stewardship

#88 Validating IP Address
  src/Validation/Rules/IPAddress.php
  tests/Validation/Rules/IPAddressTest.php
Labels: Validation

#91 Added ULID rule
  src/Validation/Rules/Ulid.php
  tests/Validation/Rules/UlidTest.php
Labels: Validation

#111 Add HTTP middleware support
  app/Controllers/MiddlewareDependency.php
  app/Controllers/TestController.php
  app/Controllers/TestMiddleware.php
  src/Http/GenericRouter.php
  src/Http/Get.php
  src/Http/HttpMiddleware.php
  src/Http/Post.php
  src/Http/Response.php
  src/Http/Route.php
  tests/Route/RouterTest.php
Labels: Router

#100 Fixes response status code
  app/Controllers/TestController.php
  src/Application/HttpApplication.php
  src/Http/GenericResponseSender.php
  src/Http/ResponseSender.php
  src/Http/ResponseSenderInitializer.php
  src/Http/Status.php
  src/functions.php
  tests/Http/GenericResponseSenderTest.php
  tests/Http/ResponseSenderInitializerTest.php
  tests/Http/StatusTest.php
Labels: Router

#172 Adds namespace import rules
  .php-cs-fixer.dist.php
  app/Controllers/TestMiddleware.php
  app/Modules/Home/home.php
  app/Views/base.php
  app/Views/baseWithNamedSlot.php
  app/Views/extendsWithNamedSlot.php
  app/Views/extendsWithVariables.php
  app/Views/include-child.php
  app/Views/include-parent.php
  app/Views/overview.php
  app/Views/rawAndEscaping.php
  app/Views/withViewModel.php
  src/Application/Kernel.php
  src/Console/Commands/DiscoveryClearCommand.php
  src/Database/Migrations/CreateMigrationsTable.php
  src/Mapper/ModelToQueryMapper.php
  src/Mapper/QueryToModelMapper.php
  src/Mapper/RequestToObjectMapper.php
  src/Mapper/RequestToRequestMapper.php
  src/Support/Reflection/Attributes.php
  src/Validation/Exceptions/ValidationException.php
  tests/Architecture/ArchitectureTest.php
  tests/TestCase.php
  tests/Unit/Application/ConsoleApplicationTest.php
  tests/Unit/KernelTest.php
Labels: Stewardship
